@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

fieldset {
    border: 0;
}

body {
    color: #ffffff;
    background-color: #941317;
    background-repeat: no-repeat;
    align-items: center;
}

body::-webkit-scrollbar {
    width: 0.6em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #C81E25;
}

.container { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  
}

.header {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 190px;
    padding-top: 60px;

}

.header img { 
    width: 350px;
    margin-top: 200px;
    margin-bottom: 30px;  
}

.header nav a { 
    gap: 80px;
    font-size: 30px;
    font-weight: 800pt;
}

.header-decora {
    width: 630px;  
    height: 9950px; 
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    z-index: -1000;
    background-color: #C81E25;
}

.menu-item {
    z-index: -500;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    display: inline-flex;
    color: #000000;
    margin: 0 50px;
}

.menu-item:hover {
    color: #ffffff;
    border-bottom: 3px solid #5200FF;
}



.habilidades {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: 'Ubuntu', sans-serif;   
    color: #000000;
}

.habilidades h2 {
    font-size: 80px;
    
}

.skills {
    padding-left: 100px;
    display: flex;
    color: white;
    font-size: 40px;
    text-align: left;
    align-items: left;
    justify-content: right;
    animation-name: skills;
    animation-duration: 2s;
    animation-delay: 0ms;
    animation-timing-function: ease-in-out;
}

@keyframes skills {
    0%   {color:white; left:0px; top:0px;}
    25%  {color:#C81E25; left:200px; top:0px;}
    50%  {color:blue; left:200px; top:200px;}
    75%  {color:rgb(255, 255, 255); left:0px; top:200px;}
    100% {color:rgb(0, 0, 0); }
    0%   {width: 0px; }
    25%  {width: 200px; }
    50%  {width: 200px;}
    75%  {width: 300px; }
    100% {width: 450px;}
  }


.skill-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    float: left;
}


.skill-panel h3 {
    margin-top: 20px;
    display: flex;
    font-size: 35px;
    font-weight: bold;
}

.skill-panel p {
    margin-top: 15px;
    font-size: 20px;
    color: #ffffff;
    text-align: left;
}

.skill-panel span {
    margin-left: 0px;
}

.bar1 {
    width: 300px;
    height: 5px;
    position: relative;
    background-color: white;
    animation-name: bar1;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

@keyframes bar1 {
    0%   {width: 0px; }
    50%  {width: 200px;}
    100% {width: 300px;}
  }


.title_m {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.project-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #55030375;
    margin: 60px;
    justify-content: center;
    border-radius: 10px;
}

.project-card img {
    width: 100%;
}

.project-info {
    color: #ffffff;
    margin-top: 10px;

}

.carousel-inner .carousel-item .btn {
    margin-top: 85px;
}
.carousel-inner {
    width: 700px;
    padding: 50px;
}

.carousel-item item-dev img{
    width: max-content;
}

.carousel-inner img {
    display: inline-block;
    flex-direction: row;
    height: 480px;
    max-width: 450px;
    border-radius: 20px;
}

.carousel-control-next {
    height: 50px;
    margin-top: 300px;
    background-color: #000000;
    border-radius: 40px;
}

.carousel-control-prev {
    height: 50px;
    margin-top: 300px;
    background-color: #000000;
    border-radius: 40px;
}

 .jobs-panel{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}


.jobs-panel{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.jobs-panel p {
    color: #ffffff;
}

.titulo-habilidades {
    display: flex;
    font-size: 45px;
    font-family: 'Ubuntu', sans-serif; 
}

.contato-section {
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.contato-section {
    font-size: 15px;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    align-items: center;
}

.contato-div1 {
    align-items: center;
    display: flex;
    flex-direction: column;

}

.contato-div1 p {
    font-size: 15px;
    display: flex;
    margin-top: 20px;
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
}

form p {
    font-size: 20px;
    text-align: center;
    border-bottom:  5px #5200FF solid ;
}

.contato-div2 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contato-div2 input {
    width: 300px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 9px;
    margin-bottom: 9px;
}

.contato-div2 input:focus {
    background-color: #C81E25;
}

.telefone {
    display: flex;
    flex-direction: row;
}

.contato-div2 button {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    height: 30px;
    border-radius: 50px 50px 50px 50px;
    background-color: #5200FF;
    color: rgb(253, 250, 246);
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    border: 0;
}

button:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px 50px 50px 50px;
    background-color: blanchedalmond;
    color: #5200FF;
    font-weight: bold;
    box-shadow: 0 0 2em #5200FF;
}

div .btn {
    display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px 50px 50px 50px;
        background-color: #5200FF;
        color: #f0eff1;
        font-weight:bolder;
}

div .btn:hover {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px 50px 50px 50px;
        background-color: blanchedalmond;
        color: #5200FF;
        font-weight:bolder;
        box-shadow: 0 0 1em #5200FF;
}
.contato-section {
    padding: 20px;
    margin-top: 20px;
    background-color: #C81E25;
}

.pdf-grid {
    display: flex;
    flex-direction: column;
}

/* Grid de PDFs */
.pdf-grid {
  margin-top: 40px;
}

.pdf-preview-card {
  background: #912c2c;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 10px;
  margin-bottom: 30px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
}

.pdf-preview-card h5 {
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

.pdf-preview-card canvas {
  border-radius: 8px;
  margin-bottom: 15px;
  max-width: 100%;
  max-height: auto;
}

.pdf-preview-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.pdf-preview-card .btn {
  border-radius: 8px;
  font-weight: 500;
  padding: 8px 16px;
  transition: background-color 0.2s ease;
}

.pdf-preview-card .btn-primary {
  background-color: #007bff;
  border: none;
}

.pdf-preview-card .btn-primary:hover {
  background-color: #0056b3;
  transition: 2000ms all;
  color: #000000;
}
