@media screen and (min-width: 412px) {
  .header {
    display: flex;
    margin: 0 auto;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 200px;
  }

  .header img { 
      width: 300px;
      margin-top: 200px;
      margin-bottom: 30px;  
  }

  .header nav { 
    display: flex;
    flex-direction: row;
    font-size: 15px;

  }

  .menu-item {
    z-index: 0;
  }
  
  .menu {
    width: 300px;
  }

  .menu a{
    margin: 0 auto;
  }
  

  .intro-text .main-frase2 {
    padding-top: 10px;
    font-size: 85px;
  }

  .main-frase1 {
    display: flex;
    flex-direction: column;
    padding-right: 200px;
    margin-top: -140px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 33px;
  }

  .card-image1 {
    width: 100px;
    height: auto;
  }

  .graphic-panel {
    width: 300px;
  }

  .conteudo2 {

    max-width: 350px;
  }

  .conteudo3 {
    max-width: 350px;
  }

  .graphic-panel img {
        min-width: 450px;
    max-width: 400px;
  }

  .graphic-panel .conteudo2-text p {
    font-size: 18px;    
}
}

@media screen and (max-width: 768px ) {
    .container {
      width: auto;
    }
    .mockup1 { 
      display: none;
      background-image: url("mockup1-2.png");
      height: 400px;
      padding-top: 10px;
      margin-right: 3px;
      
    }

    .main-frase2 {
      margin-left: -18px;
      font-size: 117px;

    }

    /* SEGUNDA SEÇÃO - ARTE DIGITAL */
    .conteudo2 {
      margin-top: 60px;
 
    }
    .conteudo2 p {
      width: 250px;
    }
    .conteudo2 h3 {
      color: #f0f0ef;
      font-size: 50px;
    }
    .conteudo2 h4 {
      max-width: 300px;
      font-size: 21px;
    }
    .conteudo2 img {
      margin-top: 80px;
      margin-left: 10px;
      max-width: 200px;
      height: auto;
      transform: rotate(0deg);
    }
    .card-image {
      z-index: -500px;
      display: flex;
      position: relative;
      height: 300px;
      margin-top: 170px;
      margin-bottom: 120px;
      transform: rotate(10deg);  
    }
    .arte-dig-btn {
      margin-left: 0px;
    }

    .btn-graphic {
      margin-left: 10px;
      width: 200px;
    }

    /* SEGUNDA SEÇÃO - ARTE DIGITAL */
    .live-panel {
    display: flex;
    margin-top: 90px;
    padding: 80px;
    background-color: #5200FF;
    height: 400px;

    }

    .img-live-panel {
      display: flex;
      flex-direction: column;
  
    }

    
    .live-panel h2 {
    text-align: center;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;  
  
    }

    .btn2 {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: auto;
    }
    .card-image1 {
      width: 550px;
      margin: auto;
    }

}

@media screen and (max-width: 450px ) {
  .container {
    
  }
  
  .img-live-panel {

    }
  
    .mockup1 { 
      background-image: url("mockup1-2.png");
      margin-left: -180px;
      height: 380px;
      
    }

    .card-image {
      height: 250px;

    }

    .main-frase1 {
      padding-left: 10px;
    }
    
    .main-frase2 {
        display: flex;
        font-size: 117px;
        justify-content: flex-start;
    } 


  .link-client {
          color: #4c4a50;
          text-decoration: underline; 
          margin-bottom: 20px;  
  }
  
  .link-client:hover {
      color: blanchedalmond;    
  }

  }
